html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  padding: 0;
  border: 0;
  margin: 0;
  outline: none;
}

* {
  font-family: 'Avenir', 'Microsoft Yahei', 'PingFang SC', Arial, Helvetica, 'sans-serif', 'Hiragino Sans GB', Roboto, 'Helvetica Neue', sans-serif;
  outline: 0;
}
